@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


.navbar-nav > li > a {

  text-transform: uppercase;
  font-size: 12px;
  margin-right: 20px;

}

.navbar > img {
  height: 10px;
  margin: 0 0px;
  width: 10px;
}

.navbar-toggler {
  padding: .20rem .50rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid white;

}

.nav-link {

  color: #131318;
}


.wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #c66b3d;
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
  transition: 1s all;
}

.navbar-brand {

  color: #131318;
  font-family: 'Allerta Stencil', sans-serif;
  margin-bottom: 4px;
  font-size: 27px;
}

.navbar-red:hover .wrapper {

  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);

}

.navbar-brand:hover {

  color: #18181c;

}

.navbar-red {

  background-color: #ffffff;
  color: #c66b3d;

}

.all-show {
  z-index: 10;
}


.end {
  display: flex;
  width: 200px;
}
