<div class="d-flex flex-column flex-shrink-0 bg-light vh-100" style="width: 100px; padding-top:81px">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" >

    <li><a href="#" class="nav-link py-3 border-bottom"> <i class="fa fa-dashboard" style="color: #c66b3d"></i> <small style="color: #c66b3d">Dashboard</small> </a>
    </li>
    <li><a href="#" class="nav-link py-3 border-bottom"> <i class="fa fa-first-order" style="color: #c66b3d"></i> <small style="color: #c66b3d">Demandes</small> </a>
    </li>
    <li><a href="#" class="nav-link py-3 border-bottom"> <i class="fa fa-users" style="color: #c66b3d"></i>  <small style="color: #c66b3d">Demandeurs</small> </a>
    <li><a href="#" class="nav-link py-3 border-bottom"> <i class="fa fa-message" style="color: #c66b3d"></i> <small style="color: #c66b3d">Messages</small> </a>
    </li>
    <li><a href="#" class="nav-link py-3 border-bottom"> <i class="fa fa-cog" style="color: #c66b3d"></i> <small style="color: #c66b3d">Settings</small> </a></li>
  </ul>
  <div class="dropdown border-top">
    <a class="dropdown-item" href="#" style="padding-top:20px;padding-bottom:20px"><i class="fas fa-power-off mr-2"></i>Logout</a>
  </div>
</div>
