<div class='container-fluid'>
  <div class="card" style="height: 290px">
    <div class="heading text-center" style="top: 20px;">
      <div class="head1">Contactez nous</div>

    </div>

    <div class="card-body" style="margin-top: 0px">
      <div class="row m-0 pt-5">
        <div class="card col-12 col-md-3" style="margin-top: 0px">
          <div class="card-content">
            <i class="fa-solid fa-phone fa-3x" style="padding-bottom: 30px"></i>
            <div>

              Tél : (+212) 524 437 741 <br> (+212) 524 434 814 <br>
              Fax : (+212) 5 24 43 44 94

            </div>
          </div>
        </div>
        <div class="card col-12 col-md-3" style="margin-top: 0px">
          <div class="card-content" style="margin-top: 0px">
            <i class="fa-solid fa-at fa-3x"  style="padding-bottom: 30px"></i>
            <div >
              ucacom@uca.ma
<br>
              https://www.uca.ma/<br>
              <i class="fab fa-instagram" style="margin-left: 10px" ></i>
              <i  href=" https://www.facebook.com/UniversiteCadiAyyadclass=" class="fab fa-facebook-square" style="margin-left: 10px"></i>
              <i class="fab fa-linkedin" style="margin-left: 10px"></i>
              <i class="fab fa-twitter-square" style="margin-left: 10px"></i>
            </div>

          </div>
        </div>
        <div class="card col-12 col-md-3" style="margin-top: 0px">
          <div class="card-content" >
            <i class="fa-solid fa-location-dot fa-3x" style="padding-bottom: 30px"></i>
          <div>
            Av Abdelkrim Khattabi, <br> B.P. 511 - 40000
            , Maroc
          </div>
          </div>
        </div>

        <div class="card col-12 col-md-3" style="margin-top: 0px">
          <div class="card-content">
            <img class="img-card" src="assets/images/img_2.png"  height="190px" width="160px" >

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
