<div class ="row">
  <div class="col-md-6 mx-auto p-0">
    <div class="card">
      <div class="login-box">
        <div class="login-snip">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">S'identifier</label>
          <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">S'inscrire</label>
          <div class="login-space">
            <div class="login">
              <div class="group">
                <label for="user" class="label">Email</label>
                <input id="user" type="text" class="input"  placeholder="Entrez votre email">
              </div>
              <div class="group">
                <label for="pass" class="label">Mot de passe</label>
                <input id="pass" type="password" class="input" data-type="password" placeholder="Entrez votre Mot de passe ">
              </div>
              <div class="group">
                <input id="check" type="checkbox" class="check" checked>
                <label for="check"><span class="icon"></span> Gardez-moi connecté</label>
              </div>
              <div class="group">
                <input type="submit" class="button" value="Connexion">
              </div>
              <div class="hr"></div>
              <div class="foot">
                <a href="#">Mot de passe oublié?</a>
              </div>
            </div>
            <div class="sign-up-form">
              <div class="group">
                <label for="nom" class="label">Nom*</label>
                <input id="nom" type="text" class="input" placeholder="Créez votre nom">
              </div>
              <div class="group">
                <label for="prenom" class="label">Prénom</label>
                <input id="prenom" type="text" class="input" placeholder="Créez votre Prénom">
              </div>
              <div class="group">
                <label for="pass" class="label">Adresse e-mail</label>
                <input id="pass" type="text" class="input" placeholder="Entrez votre adresse email">
              </div>
              <div class="group">
                <label for="pass" class="label">Mot de passe</label>
                <input id="pass" type="password" class="input" data-type="password" placeholder="Créez votre mot de passe">
              </div>
              <div class="group">
                <label for="pass" class="label">Confirmez le mot de passe</label>
                <input id="pass" type="password" class="input" data-type="password" placeholder="Confirmez le mot de passe" >
              </div>

              <div class="group">
                <input type="submit" class="button" value="S'inscrire">
              </div>
              <div class="hr"></div>
              <div class="foot">
                <label for="tab-1">Déjà membre ?</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
