<div class="container" style="width: 1800px; padding-left: 100px; padding-top: 100px">
  <div class="table-responsive">
    <table class="table text-center">
      <thead>
      <tr>
        <th>Num demande</th>
        <th>Type</th>
        <th>Date</th>
        <th>État</th>
        <th>Détails</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Manifestation</td>
        <td>14/05/2022</td>
        <td>Acceptée</td>
        <td><div class="btn btn-primary">Détails </div> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
