*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 80px 10px 0 10px;
}

.container .table thead tr th{
  background-color:#26495c;
  padding: 30px 10px;
  border: none;
  color: white;
}
td:nth-child(2n+1){
  background-color: #e5e5dc;
}
td:nth-child(2n){
  background-color: white;
}
.container .table tbody tr td {
  padding: 20px 10px;
  font-weight: 600;
}
.btn.btn-primary{
  background-color: #c66b3d;
  padding: 10px;
  width: 100px;
  border: 1px solid #c25012 ;
}
.btn.btn-primary:hover{
  background-color: #c4a35a;
}
