<div class="container card-0 justify-content-center ">
  <div class="card-body px-sm-4 px-0">
    <div class="row justify-content-center round">
      <div class="col-lg-10 col-md-12 ">
        <div class="card shadow-lg card-1">
          <div class="card-body inner-card">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="form-group"><label for="first-name">Nom</label>
                  <input type="text" class="form-control" id="first-name" placeholder="Entrer votre nom">
                </div>
                <div class="form-group"><label for="Mobile-Number">téléphone</label>
                  <input type="number" class="form-control" id="Mobile-Number" placeholder=""></div>
                <div class="form-group"><label>vous êtes
                </label> <select class="form-control">
                  <option>Enseignant chercheur</option>
                  <option>Doctorant</option>
                </select></div>
                <div class="form-group"><label for="time">CED</label>
                  <input type="text" class="form-control" id="time" placeholder="">
                </div>
                <div class="form-group"><label for="Evaluate Budget">Entite de Recherche</label>
                  <input type="text" class="form-control" id="Evaluate Budget" placeholder="">
                </div>
              </div>
              <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="form-group"><label for="last-name">Prénom</label>
                  <input type="text" class="form-control" id="last-name" placeholder="Entrer votre prénom">
                </div>
                <div class="form-group"><label>Email</label>
                  <input type="email" class="form-control" id="email" placeholder="exemple@uca.ma">
                </div>
                <div class="form-group"><label>Grade</label> <select class="form-control">
                  <option>PES</option>
                  <option>PH</option>
                  <option>PA</option>
                  <option>Autre</option>
                </select></div>

                <div class="form-group" style="padding-top: 4px"><label
                  style="padding-bottom: 3px">Etablissement</label>
                  <select class="form-control">
                    <option></option>
                    <option>FSTG</option>
                    <option>FSSM</option>
                    <option>FSJES</option>
                    <option>ENCG</option>
                    <option>FMPM</option>
                    <option>FLSHM</option>
                    <option>ENSA-M</option>
                    <option>ENS</option>
                    <option>FPS</option>
                    <option>ENSA Safi</option>
                    <option>ESTE</option>
                    <option>FSJESK</option>
                    <option>FLAM</option>
                  </select></div>

                <div class="form-group"><label for="Company-Name">Responsable de l'entite de recherche</label>
                  <input type="text" class="form-control" id="Company-Name" placeholder=""></div>

                <!--            </div>-->

              </div>
              <div class="mb-2 mt-4">
                <div class="text-right">
                  <button type="button" class="btn btn-primary btn-block"><small
                    class="font-weight-bold">Sauvegarder</small></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
