<nav class="navbar navbar-expand-lg navbar-red navbar-dark" style="padding-right: 0px ; padding-left: 0px ; padding-bottom: 0px ; padding-top: 0px" >



  <div class="wrapper" style="height: 90px ; top: 0px;">
  </div>
  <div class="container-fluid all-show">

    <img class="img-card" src="assets/images/img_2.png"  height="90px" width="80px">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item" style="width: 20px ; height: 20px ; padding-bottom: 10px ; padding-top: 7px;padding-left: 50px ; padding-right: 20px">
         <i class="fa-solid fa-house"></i>
        </li>
        <li class="nav-item" >
          <a  [routerLink]="['']" class="nav-link active" aria-current="page" href="#" style="color: black">Accueil</a>
        </li>

        <li class="nav-item" style="width: 20px ; height: 20px ; padding-bottom: 10px ; padding-top: 7px;padding-left: 10px ; padding-right: 20px">
          <i class="fa-regular fa-address-card"></i>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link" href="#" style="color: black">postuler</a>
        </li>


        <li class="nav-item" style="width: 20px ; height: 20px ; padding-bottom: 10px ; padding-top: 7px;padding-left: 10px ; padding-right: 20px">
          <i class="fa-solid fa-message"></i>
        </li>
        <li class="nav-item">
          <a  routerLink="/contact" class="nav-link" href="#" style="color: black">contacter</a>
        </li>
      </ul>
      <div class="nav-item" style=" color: white">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 30px;color:white ">
            <i class="fa-solid fa-user-pen"  style="padding-right: 10px"></i>  User name
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <a class="dropdown-item" href="#">profil</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
          </div>
        </div>
                </div>




</div>

  </div>
</nav>
