<section class="section pb-0">
  <div class="container" style="height: 500px">
    <div class="row" style="margin-left: 80px ; width: 1200px ; height: 300">
      <div class="col-lg-4 col-sm-6 mb-lg- mb-4" style="height: 370px ; width: 300px">
        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow"><img
          src="https://i.imgur.com/zyCBebp.png" class="img-fluid" alt="feature-image">
          <h2 class="pt-5 pb-3 text-capitalize card-title">Postuler pour une mission ou un stage</h2>
          <p class="mb-4">For what reason would it be advisable for me to think about business content? That might be
            little bit risky to have crew member like them.</p> <a class="btn btn-outline-primary" href="#"
                                                                   data-abc="true" routerLink="/postuler-mission">postuler</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-lg- mb-4" style="height: 400px ; width: 300px">
        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow"><img
          src="https://i.imgur.com/zyCBebp.png" class="img-fluid" alt="feature-image">
          <h2 class="pt-5 pb-3 text-capitalize card-title">Postuler pour une manifestation scientifique</h2>
          <p class="mb-4">For what reason would it be advisable for me to think about business content? That might be
            little bit risky to have crew member like them.</p> <a class="btn btn-outline-primary" href="#"
                                                                   data-abc="true" routerLink="/postuler-manif">postuler</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-lg- mb-4" style="height: 400px ; width: 300px">
        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow" style="height: 516px">
          <img src="https://i.imgur.com/zyCBebp.png" class="img-fluid" alt="feature-image">
          <h2 class="pt-5 pb-3 text-capitalize card-title">Vos données</h2>
          <p class="mb-4">For what reason would it be advisable for me to think about business content? That might be
            little bit risky to have crew member like them.</p> <a class="btn btn-outline-primary" href="#"
                                                                   data-abc="true" style="top: 30px" routerLink="/postuler-info">remplir</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-lg- mb-4" style="height: 400px ; width: 300px">
        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow" style="height: 516px">
          <img src="https://i.imgur.com/zyCBebp.png" class="img-fluid" alt="feature-image">
          <h2 class="pt-5 pb-3 text-capitalize card-title">Votre historique</h2>
          <p class="mb-4">For what reason would it be advisable for me to think about business content? That might be
            little bit risky to have crew member like them.</p> <a class="btn btn-outline-primary" href="#"
                                                                   data-abc="true" style="top: 30px">voir</a>
        </div>
      </div>
    </div>
  </div>
</section>
