<div class="row justify-content-center justify-items-center p-5">
  <div class="card" style="border-left-width: 1px  ; width: 592px ; ">
    <div class="top-div">
      <h2>Entrer en contact!</h2>
      <p>Contactez-nous si vous avez besoin d'aide</p>
    </div>
    <div class="stats">
      <div class="stats1">
        <span><i class="fa fa-map-marker"></i></span>
        <span>Av Abdelkrim Khattabi, B.P. 511 - 40000 </span>
      </div>
      <div class="stats1">
        <span><i class="fa fa-phone"></i></span>
        <span> +212 524 434 814</span>
      </div>
      <div class="stats1">
        <span><i class="fa fa-envelope"></i></span>
        <span>ucacom@uca.ma</span>
      </div>
    </div>
    <div class="card1">
      <div class="left">
        <div class="form-control">
          <input type="text" required="required">
          <span> Entrez votre nom complet</span>
          <i class="fa fa-users"></i>
        </div>
        <div class="form-control">

          <input type="text" required="required">
          <span>Adresse email</span>
          <i class="fa fa-envelope"></i>
        </div>
        <div class="form-control">

          <input type="text" required="required">
          <span>Entrez votre numéro de contact</span>
          <i class="fa fa-mobile-phone"></i>
        </div>
      </div>
      <div class="right">
        <div class="text-area">
          <textarea required="required"></textarea>
          <span>Message</span>
        </div>
      </div>
    </div>

    <div class="button">
      <button>Valider</button>
    </div>

  </div>

</div>


